body
{
    padding-top: 60px;
}

.centered
{
    text-align: center;
    margin: auto;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}

.lead
{
    font-size: 1.75em;
}

h1.mainheader
{
    font-size: 5em;
}
