body
{
    padding-top: 60px;
}

.centered
{
    text-align: center;
    margin: auto;
}

.thumbnail {
    border: 0 none;
}

.thumbnail:hover {
    background-color: #222;
}

.navbar-brand
{
    margin-right: 30px;
}

@media(max-width:767px){
    .jumbotron {
	padding: 10px;
    }
}
@media(min-width:992px){
    .jumbotron {
	padding: 20px;
    }
}
