body
{
    padding-top: 60px;
}

.centered
{
    text-align: center;
    margin: auto;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    background: transparent;
}

.thumbnail:hover {
    background-color: #111;
}

.lead
{
    font-size: 1.75em;
}

h1.mainheader
{
    font-size: 5em;
}

.navbar-brand
{
    margin-right: 30px;
}

@media(max-width:767px){
    .jumbotron {
	padding: 10px;
    }
}
@media(min-width:768px){
    .jumbotron {
	padding: 10px;
    }
}
@media(min-width:992px){
    .jumbotron {
	padding: 20px;
    }
}
