---
layout: default
title: igraph &ndash; Network analysis software
---

<div class="container bs-docs-container">

  <div class="row">
    <div class="col-md-4">
      <div class="bs-sidebar hidden-print" role="complementary" 
           data-spy="affix">
        <ul class="nav bs-sidenav">
          
          <li><a href="#startr">Get started with R</a>
            <ul class="nav">
              <li><a href="#rinstall">Installation</a></li>
              <li><a href="#rreq">Requirements</a></li>
              <li><a href="#rreqopt">Optional requirements</a></li>
              <li><a href="#rdoc1">Tutorials</a></li>
            </ul>
          </li>
          <li><a href="#startpy">Get started with Python</a></li>
          <li><a href="#startc">Get started with C</a>
            <ul class="nav">
              <li><a href="#creq">Requirements</a></li>
              <li><a href="#cinstall">Installation</a></li>
              <li><a href="#cinstallosx">Installation on Mac OS X</a></li>
              <li><a href="#cinstallwin">Installation on Windows under
                Cygwin</a></li>
              <li><a href="#cinstallmsvc">Installation using Microsoft
                Visual C++<a></li>
              <li><a href="#ctut">Tutorials</a></li>
            </ul>
          </li>          
          <li>
            <a href="#docs">Documentation</a>
            <ul class="nav">
              <li><a href="#rmanual">R manual pages</a></li>
              <li><a href="#pymanual">Python manual</a></li>
              <li><a href="#cmanual">C reference manual</a></li>
            </ul>
          </li>
          <li><a href="#downloads">Downloads</a></li>
          <li><a href="#help">Getting help</a></li>
          <li><a href="#contribute">Contribute</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-8" role="main">
      <div class="bs-docs-section">

        <div class="page-header">
          <h1 id="startr">Get started with R</h1>
        </div>

        <h3 id="rinstall">Installation</h3>
        <p>
          igraph is on CRAN and can be installed from within R:
        </p>
        <p> {% gist 6952578 %} </p>

        <h3 id="rreq">Requirements</h3>
        <p>On Linux (and other Unix-like systems, but not on OSX),
          a C and a C++ compiler is needed, and also the tool
          <code>make</code>. On Debian and Ubuntu Linux the 
          <code>build-essential</code> package installs these.</p>

        <h3 id="rreqopt">Optional requirements</h3>

        <p>
          <ul>
            <li>On Linux (and other Unix-like systems, but not on OSX), 
              the <code>libxml2</code> library, including header files,
              is needed for the ability of reading GraphML files. On
              Ubuntu and Debian Linux the <code>lixml2</code> and
              <code>libxml2-dev</code> packages are needed.</li>
            <li>The {% include rbasepkg p="tcltk" %} R package is needed for
              {% include rfun f="tkplot" %} and 
              {% include rfun f="tkigraph" %} to work.</li>
            <li>The {% include rpkg p="rgl" %} R package is needed for
              {% include rfun f="rglplot" %} to work.</li>
            <li>The {% include rpkg p="ape" %} package is needed to
              plot nice dendrograms with 
              {% include rfun f="dendPlot" %}.</li>
          </ul>
        </p>

        <h3 id="rdoc1">Tutorials</h3>

        <p>
          <ul>
            <li>Manual pages {% include rman p="igraph" %} and
              {% include rman p="graph.structure" %} are good places
              to start.</li>
            <li>Some screenshots and examples are 
              <a href="">here.</a></li>
            <li>Type in <code>demo(package="igraph")</code> 
              (or use {% include rfun f="igraphdemo" %} if you have
              <span style="white-space:nowrap;">
                {% include rbasepkg p="tcltk" %})</span> to get a list of
              demos.</li>
          </ul>
        </p>

        <div class="page-header">
          <h1 id="startpy">Get started with Python</h1>
        </div>

        <p>
          TODO
        </p>

        <div class="page-header">
          <h1 id="startc">Get started with C</h1>
        </div>

        <h3 id="creq">Requirements</h3>
        <p>
          Make sure you have the following before installing igraph:
          <ul>
            <li>A <strong>Linux</strong>, <strong>Mac OS X</strong> or
              <strong>MS Windows</strong> system. Other
              Unix and similar systems probably work as well,
              e.g. Oracle Solaris, BSD systems, etc.
            <li>C and C++ compilers, <code>gcc</code>,
              <code>clang</code> or others.</li>
            <li>The GNU <code>make</code> tool.</li>
            <li>Optionally the <a href="http://www.xmlsoft.org/"> 
              <code>libxml2</code></a> library for reading GraphML
              files.</li> 
          </ul>
          On Ubuntu and Debian Linux, installing the
          <code>build-essential</code> and the
          <code>libxml2-dev</code> packages is sufficient.
        </p>

        <h3 id="cinstall">Installation</h3>
        <p>
          The standard installation method uses the
          <code>autoconf</code>/<code>automake</code> toolset. After
          downloading and uncompression the source code run the
          following commands from the top-level directory of the code.
        </p>
        <p> {% gist 7026295 %}</p>
        <p>The <code>make check</code> step is optional, but it is
          useful to spot problems early on.
        </p>

        <h3 id="cinstallosx">Installation on Mac OS X</h3>
        <p>
          You can use the regular Unix way (as above), or
          <a href="http://brew.sh/">Homebrew</a>, the
          <code>homebrew/science/igraph</code> formula.
        </p>

        <h3 id="cinstallcygwin">Installation on Windows under Cygwin</h3>
        <p>
          One way to install igraph on Windows is to use 
          <a href="http://www.cygwin.com/">Cygwin</a>. From a Cygwin
          shell, use the standard installation method, as
          above.
        </p>

        <h3 id="cinstallcygwin">Installation on Windows using
          Microsoft Visual C++</h3>
        <p>
          It is also possible to use Microsoft Visual C++
          (MSVC). Download the ZIP file made for MSVC, uncompress it,
          and open the solution file <code>igraph.sln</code> from
          MSVC. You can build the library the usual way then. For
          GraphML support you'll need to install the
          <code>libxml2</code> library by hand, see the 
          <a href="http://www.zlatkovic.com/libxml.en.html">
            Windows port</a> of <code>libxml2</code>.
        </p>

        <h3 id="ctut">Tutorials</h3>
        <p>
          <ul>
            <li>The source code comes with some examples (also used
              for testing). You can find them in the
              <code>examples/simple</code> directory.</li>
            <li>Most of the examples are also included in the 
              <a href="/doc/c">Reference Manual</a>.
          </ul>
        </p>

        <div class="page-header">
          <h1 id="docs">Documentation</h1>
        </div>

        <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem
accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius modi tempora incidunt ut labore et dolore magnam
aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus
error sit voluptatem accusantium doloremque laudantium, totam rem
aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora
incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Sed ut
perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
inventore veritatis et quasi architecto beatae vitae dicta sunt
explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem
sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
        </p>

        <h3 id="rmanual">R manual pages</h3>

        <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem
accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius modi tempora incidunt ut labore et dolore magnam
aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus
error sit voluptatem accusantium doloremque laudantium, totam rem
aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora
incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Sed ut
perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
inventore veritatis et quasi architecto beatae vitae dicta sunt
explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem
sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
        </p>

        <h3 id="pymanual">Python manual</h3>

        <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem
accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius modi tempora incidunt ut labore et dolore magnam
aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus
error sit voluptatem accusantium doloremque laudantium, totam rem
aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora
incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Sed ut
perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
inventore veritatis et quasi architecto beatae vitae dicta sunt
explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem
sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
        </p>

        <h3 id="cmanual">C reference manual</h3>

        <p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem
accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
ab illo inventore veritatis et quasi architecto beatae vitae dicta
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui
ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius modi tempora incidunt ut labore et dolore magnam
aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus
error sit voluptatem accusantium doloremque laudantium, totam rem
aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora
incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Sed ut
perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
inventore veritatis et quasi architecto beatae vitae dicta sunt
explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem
sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
        </p>

      </div>
      </div>
  </div>
</div>